ul{
	padding: 0;
	margin: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}

.container{
	width: 240px;
}
.container div{
	width: 240px;
	height: 30px;
	text-indent: 10px;
	background: #00bfd7;
	font-size: 18px;
	font-family: '微软雅黑';
	line-height: 30px;
	border-bottom: 1px dashed #fff;
	cursor: pointer;
}
.container .active{
	background: #88e7d2;
}

.container ul{
	display: none;
}
.container li{
	width: 220px;
	padding-left:20px; 
	height: 24px;
}
.container li a{
	display: block;
	width: 220px;
	height: 24px;
	font-size: 16px;
	font-family: '微软雅黑';
	line-height: 24px;
	cursor: pointer;
	color: #000;
}
.container li a:hover{
	color: #ff4400;
}