a:hover{
	color: #ff4400;
}

.orange{
	color: #ff4400;
}


ul{
	padding: 0;
	margin:0;
}
li{
	list-style: none;
}
#fixedBox{
	height: 60px;
	background: #e5e5e5;
}
#fixedBox div{
	margin-right: 110px;
}
#fixedBox li{
	height: 40px;
	padding: 10px;
	line-height: 40px;
	float: right;
}
#fixedBox li span{
	font-size: 20px;
	font-weight: bold;
	color: #ff4400;
}
#fixedBox .orangeLi{
	height: 60px;
	background: #ff4400;
	font-size: 20px;
	text-align: center;
}
#fixedBox .orangeLi a{
	color: #fff;
}

.container{
	margin-bottom: 40px;
}
table tbody span{
	cursor: pointer;
}
table tbody a{
	color: #000;
	font-size: 12px;
}